services:
  dvwa:
    container_name: vaccine-dvwa
    hostname: dvwa
    build:
      context: dvwa
    volumes:
      - ./dvwa:/app
      - .env:/app
    networks:
      - web
    ports:
      - 8000:8000
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
      pgsql:
        condition: service_healthy
  mysql:
    image: mysql:8.0
    container_name: vaccine-mysql
    hostname: mysql
    networks:
      - web
    volumes:
      - ./mydata:/etc/mysql/conf.d
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD", "mysqladmin", "status", "-hlocalhost", "-p${DB_PASSWORD}", "-u${DB_USERNAME}"]
      interval: 5s
      timeout: 5s
      retries: 12
  pgsql:
    image: postgres
    container_name: vaccine-pgsql
    hostname: pgsql
    networks:
      - web
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "vaccine", "-U", "${DB_USERNAME}" ]
      interval: 5s
      retries: 12
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - web

networks:
  web: